.footer-container-full-width {
  height: 167px;
  background: $bg-footer;

  .footer-wrapper-flex-container {
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;

    .footer-title-container {
      display: flex;
      align-items: center;
      height: 86px;
      margin-left: 16%;

      .footer-title {
        color: $secondary;
        font-size: 3.5rem;
        font-family: $font-monster-clubhouse;
        font-weight: $font-Weights-400;
        margin: $margin-0;
      }

      @media (max-width: 1180px) {
        margin-left: 6%;
        .footer-title {
          font-size: 3rem;
        }
       }

      @media (max-width: $breakpoints-md) {
       margin-left: 7.5%;

        .footer-title {
          font-size: 2.5rem;
        }
      }

      @media (max-width: $breakpoints-sm) {
          margin-left: 4.5%;

        .footer-title {
          font-size: 1.8rem;
        }
      }

      @media (max-width: $breakpoints-xs) {
        .footer-title {
          font-size: 1.1rem;
        }
      }

      @media (max-width: 320px) {
        .footer-title {
          font-size: 0.8rem;
        }
      }

    }
    
    .footer-img-ontainer {
      max-width: 60%;
      max-height: 237px;
      align-items: center;
      overflow: hidden;
      margin-top: -$mt-50;

      .footer-img{
        width: $screen-width;
        max-width: 536px;
        margin-top: $mt-15;
      }

      @media (max-width: $breakpoints-xs) {
        margin-top: -$mt-10;

        .footer-img {
          width: $screen-width;
          height: auto;

        }
      }

      @media (max-width: $breakpoints-sm) {
        margin-top: -$mt-50;
        .footer-img {
          width: $screen-width;
          height: auto;

        }
        
      }

      @media (max-width: $breakpoints-xs) {
        margin-top: -$mt-20;
        .footer-img {
          width: $screen-width;
          height: auto;

        }
        
      }
    }
  }

  @media (max-width: $breakpoints-sm) {
    display: flex;
    align-items: center;
    height: 116px;
  }

  @media (max-width: $breakpoints-xs) {
    display: flex;
    align-items: center;
    height: 70px;
  }

  @media (max-width: 320px) {
    display: flex;
    align-items: center;
    height: 50px;
  }
}