// Colores.
$prymary: #D84A4A;
$bg-prymary-100: #FFFFFF;
$bg-prymary-200: #C2E3F3;
$bg-prymary-300: #6AA3C1;
$secondary: #425966;
$secondary-100: #E9F1FA;
$secondary-200: #8395A7;
$gray-100: #fafafa;
$gray-200: #d6d6d6;
$gray-200: #cbcfd3;
$favorite-100: #FC8E56;
$favorite-200: #FEC368;
$black: #000000;
$bg-cards: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
$bg-cards-hover: transparent linear-gradient(180deg, #C2E3F3 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
$bg-footer: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
$bg-banner-img: '../../assets/images/bcq.jpg';

// Fonst family
$font-monster-clubhouse: MonsterClubhouse;
$font-poppins: Poppins;

// Font weights.
$font-Weights-200: 200;
$font-Weights-400: 400;
$font-Weights-500: 500;
$font-Weights-600: 600;

// Font size
$font-size: 0.7rem;
$font-size-1: 1rem;
$font-size-2: 2rem;
$font-size-5: 5rem;
$font-size-8: 8rem;
$font-size-10: 10rem;
$font-size-title: 4.2rem;

// Margin
$margin-0: 0px;
$margin-3: 3px;
$margin-5: 5px;
$margin-8: 8px;
$margin-10: 10px;
$margin-12: 12px;
$margin-15: 15px;
$margin-18: 18px;
$margin-20: 20px;
$margin-25: 25px;
$margin-30: 30px;
$margin-40: 40px;
$margin-50: 50px;
$margin-60: 60px;
$mt-0: 0px;
$mt-3: 3px;
$mt-5: 5px;
$mt-8: 8px;
$mt-10: 10px;
$mt-12: 12px;
$mt-15: 15px;
$mt-18: 18px;
$mt-20: 20px;
$mt-25: 25px;
$mt-30: 30px;
$mt-40: 40px;
$mt-50: 50px;
$mt-60: 60px;
$ml-0: 0px;
$ml-3: 3px;
$ml-5: 5px;
$ml-8: 8px;
$ml-10: 10px;
$ml-12: 12px;
$ml-15: 15px;
$ml-18: 18px;
$ml-20: 20px;
$ml-25: 25px;
$ml-30: 30px;
$ml-40: 40px;
$ml-50: 50px;
$ml-60: 60px;
$mr-0: 0px;
$mr-3: 3px;
$mr-5: 5px;
$mr-8: 8px;
$mr-10: 10px;
$mr-12: 12px;
$mr-15: 15px;
$mr-18: 18px;
$mr-20: 20px;
$mr-25: 25px;
$mr-30: 30px;
$mr-40: 40px;
$mr-50: 50px;
$mr-60: 60px;
$mb-0: 0px;
$mb-3: 3px;
$mb-5: 5px;
$mb-8: 8px;
$mb-10: 10px;
$mb-12: 12px;
$mb-15: 15px;
$mb-18: 18px;
$mb-20: 20px;
$mb-25: 25px;
$mb-30: 30px;
$mb-40: 40px;
$mb-50: 50px;
$mb-60: 60px;
$margin-left-menu: 45px;

// Breakpoints.
$breakpoints-xs: 576px;
$breakpoints-sm: 768px;
$breakpoints-md: 992px;
$breakpoints-lg: 1200px;

// Viewport.
$viewport-width: 100vw;
$viewport-height: 100vh;
$screen-width: 100%;

// Space.
$spacing-5: 5;
$spacing-10: 10;
$spacing-15: 15;
$spacing-20: 20;
$spacing-30: 30;
$spacing-40: 40;
$spacing-50: 50;
$spacing-60: 60;
$spacing-70: 70;
$spacing-80: 80;
$spacing-90: 90;
$spacing-100: 100;

//Box shadow.
$box-shadow: 0px 5px 9px #8395A766;

// Border radius
$border-radius-3: 3px;
$border-radius-5: 5px;
$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-12: 12px;