// Colores.
$prymary: #D84A4A;
$bg-prymary-100: #FFFFFF;
$bg-prymary-200: #C2E3F3;
$bg-prymary-300: #6AA3C1;
$secondary: #425966;
$secondary-100: #E9F1FA;
$secondary-200: #8395A7;
$gray-100: #fafafa;
$gray-200: #d6d6d6;
$gray-200: #cbcfd3;
$favorite-100: #FC8E56;
$favorite-200: #FEC368;
$black: #000000;
$bg-cards: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
$bg-footer: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;

// Fonst family
$font-monster-clubhouse: MonsterClubhouse;
$font-poppins: Poppins;

// Font weights.
$font-Weights-200: 200;
$font-Weights-400: 400;
$font-Weights-500: 500;
$font-Weights-600: 600;

// Font size
$font-size: 0.7rem;
$font-size-1: 1rem;
$font-size-2: 2rem;
$font-size-5: 5rem;
$font-size-8: 8rem;
$font-size-10: 10rem;

// Breakpoints.
$breakpoints-xs: 576px;
$breakpoints-sm: 768px;
$breakpoints-md: 992px;
$breakpoints-lg: 1200px;

// Viewport.
$viewport-width: 100vw;
$viewport-height: 100vh;

// Space.
$spacing-200: 100;
$spacing-400: 400;
$spacing-500: 500;
$spacing-600: 600;

//Box shadow.
$box-shadow: 0px 5px 9px #8395A766;

// Border radius
$border-radius: 3px;
$border-radius-2: 5px;
$border-radius-3: 8px;
$border-radius-4: 10px;
$border-radius-5: 12px;